{% load static %}
<!DOCTYPE html>
<html>
<head>
{#    <script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>#}
{#    <script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>#}
{#    <script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>#}
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon"
          href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico"/>
    <link rel="mask-icon" type=""
          href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"
          color="#111"/>
    <link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
          type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <script src="{% static 'js/chat.js' %}"></script>
    {#<script>try{Typekit.load({ async: true });}catch(e){}</script>#}
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="cp-pen-styles">
<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="https://ptetutorials.com/images/user-profile.png" class="online" alt=""/>
                <p>{{ loginuser }}</p>
                {#				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>#}
                {#				<div id="status-options">#}
                {#					<ul>#}
                {#						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>#}
                {#						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>#}
                {#						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>#}
                {#						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>#}
                {#					</ul>#}
                {#				</div>#}
                <div id="expanded">
                    <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mikeross"/>
                    <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="ross81"/>
                    <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                    <input name="twitter" type="text" value="mike.ross"/>
                </div>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..."/>
        </div>
        <div id="contacts">
            <ul class="user_list">
                {% for user in users %}
                    <li class="contact ">
                        <div class="wrap">
{#                             <img src="https://ptetutorials.com/images/user-profile.png" alt=""/>#}
                            <a style="text-decoration: none" href="{% url 'talko:view_chat' user.id %}">{{ user.username }}</a>

                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img src="https://ptetutorials.com/images/user-profile.png" alt=""/>
            {% for user in users%}
                {% if user.id == reciever %}
                    <p>{{ user.username }}</p>
                {% endif %}
            {% endfor %}
            <div class="social-media">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
        </div>
        <div class="messages" id="messages">

      </div>
        <div class="message-input">
            <div class="wrap">
                <input type="text" id="msgtxt" placeholder="Write your message..."/>
{#                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>#}
                <button class="submit" onclick="sendmsg({{ reciever }})"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        {% if reciever %}
            dispalymessage({{ reciever }});
            setInterval(function(){ dispalymessage({{ reciever }}); }, 5000);
        {% endif %}
    })
</script>
</body>
</html>