{#{% extends 'talko/base.html' %}#}
{#{% block body_block %}#}
{# <form class="form" method="post" action="{% url 'talko:user_login' %}">#}
{#  {% csrf_token %}#}
{#              <div class="card-header text-center">#}
{#                <div class="logo-container">#}
{#                  <img src="{% static 'img/now-logo.png' %}" alt="">#}
{#                </div>#}
{#              </div>#}
{#              <div class="card-body">#}
{#                <div class="input-group no-border input-lg">#}
{#                  <div class="input-group-prepend">#}
{#                    <span class="input-group-text">#}
{#                      <i class="users_circle-08"></i>#}
{#                    </span>#}
{#                  </div>#}
{#                  <input type="text" class="form-control" placeholder="Username">#}
{#                </div>#}
{#                <div class="input-group no-border input-lg">#}
{#                  <div class="input-group-prepend">#}
{#                    <span class="input-group-text">#}
{#                      <i class="text_caps-small"></i>#}
{#                    </span>#}
{#                  </div>#}
{#                  <input type="text" placeholder="Password" class="form-control" />#}
{#                </div>#}
{#              </div>#}
{#              <div class="card-footer text-center">#}
{#                <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block" type="submit">Login</a>#}
{#              </div>#}
{#            </form>#}
{#{% endblock %}#}


{% extends 'talko/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Login here :</h1>

<form method="post" action="{% url 'talko:user_login' %}">
          {% csrf_token %}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">

<label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">

<input type="submit" name="" value="Login">

</form>

</div>
  </div>
{% endblock %}